{{ define "main" }}

{{ if $.Param "enableSidebarSingle" }}
<main class="main inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
<div class="list__main {{ if $.Param "enableSidebar" }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">

<div class="main showcase inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
{{ else }}
<main class="main showcase inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
{{ end }}

  {{ if .Params.enableBio }}
    <aside class="{{ if eq ($.Param "sidebarPosition") "left" }}l{{ else }}r{{ end }}">
      <div class="showcase__bio">
        {{ partial "search/site-search" . }}
        {{ partial "sidebar/site-bio" . }}
      </div>
    </aside>
  {{ end }}
  <section class="showcase__section {{ if .Params.enableBio }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
    {{ if .Params.enableBio }}
      <div class="showcase__bio--mobile hide">
        {{ partial "body/whoami" . }}
      </div>
    {{ end }}
    {{ partial "showcase/show-nav" . }}
    {{ if eq .Permalink .FirstSection.Permalink }}
      {{ partial "showcase/show-pinned" . }}
    {{ else }}
      {{ partial "showcase/show-section" . }}
    {{ end }}
  </section>
  
  {{ partial "script/showcase-script" . }}
  {{ if not .Params.enableBio }}
    <div class="hide">
      {{ partial "search/site-search" . }}
    </div>
  {{ end }}

{{ if not ($.Param "enableSidebarSingle") }}
</main>
{{ else }}
</div>

</div>
<aside class="list__sidebar {{ if eq ($.Param "sidebarPosition") "left" }}l{{ else }}r{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
    {{ partial "sidebar/sidebar-home" . }}
</aside>
</main>
{{ partial "script/sidebar-script" . }}
{{ end }}

{{ end }}